*{
    margin: 0 ; padding: 0 ;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    transition: all .2s linear;
}

.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient();
    position: relative;
    overflow: hidden;
    z-index: 0; 
    padding-bottom: 90px;
}

/* .container span {
    position: relative;
    background-color: red;
    z-index: -1;
} */

.container form{
    width : 350px;
    background: rgba(255, 137, 137, 0.322);
    padding: 45px 25px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.37);
    border-radius: 13px;
    backdrop-filter: blur(4px);
    border-top: 4px solid white;    
    border-left: 4px solid white;    
}

.container form i{
    display : block;
    height : 120px;
    width : 120px;
    line-height: 110px;
    text-align: center;
    color: #999;
    border : 5px solid #999;
    border-radius: 50%;
    font-size: 60px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.container form .box{
    height: 40px;
    width: 100%;
    border-radius: 50px;
    border: none;
    outline: none;
    padding: 0 20px;
    margin: 10px 0;
    font-size: 17px;
    color: #666;
    background: rgba(255, 255, 255, 0.74);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.521);
    text-transform: none;
}
.container form input[type="submit"]{
    height:35px;
    width: 110px;
    border-radius: 50px;
    background : deeppink;
    color:white;
    font-size: 18px;
    border: none;
    outline: none;
    margin: 20px 0;
    cursor: pointer;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.527);
    border-top: 2px solid white;    
    border-left: 2px solid white; 
}

.container form input[type="submit"]:hover{
    letter-spacing: 2px;
    opacity: .8;
}

.container form p{
    padding: 7px 0;
    color: #666;   
}

.container form p a{
    color : #333;
}

.background{
    background: rgba(255, 192, 203, 0.253);    
}